body:after{
    content: "beta";
    position: fixed;
    width: 130px;
    height: 35px;
    background: #5e30a5;
    top: 15px;
    left: -33px;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    transform:rotate(-45deg);
}

@media only screen and (max-width: 480px) {
    .ml4 {
        margin-left: 1rem;
    }
}
